/* Styles para a layout page */
.cabecalho{
    background-color:#313545;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    color:#FFF !important;
    font-size: 18px;
    border:1px solid #9999;
    margin: 0px 10px;
}
.nav-item:hover {
    background-color: #414656;
}
.navActive {
    background-color: #414656;
}
.banner {
    min-height:600px;
    background-image: url('../images/bg.jpeg');
    background-position: center;
    background-size: cover;
    flex-direction:column;
}
.banner h1 {
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
    font-size: 4em;
}
.banner p {
    font-size:20px;
}
.col {
    margin-right:5px;
}

.card-img-top {
    height:200px;
}
.card {
    margin-top:20px;
}
.card-body {
    flex-direction: column;
    background-color: #f1eff1
}
.t1 {
    background-color:red;
    height:50px;
}
.t2 {
    background-color: black;
}
.height {
    height:300px;
}
.services{
    min-height:600px;
    background-image: url('../images/bg2.jpeg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
.text-services {
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
    font-size: 4em;
}
.text-free{
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 1);
    font-size: 3em;
}
.height-200 {
    height:800px;
}
#card {
    min-height:500px;
}
.contact {
    background-image: url('../images/bg3.jpeg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    min-height:1200px;
}
.jumbotron {
    max-width:780px;
    width:100%;
}
#container {
    max-width:780px;
    width:100%;
}
.form-control {
    background: rgba(255, 255, 255, 0.7);
}
.form-control::placeholder {
    color:#000;
}
#btn-light{
    background-color:#222024;
    color:#FFF;
}
#column {
    flex-direction: column;
}
